A
{
    FONT-SIZE: 8pt;
    COLOR: #003399;
    FONT-FAMILY: Arial, Helvetica, sans serif;
    TEXT-DECORATION: none
}
A:hover
{
    TEXT-DECORATION: underline
}
TD, TH, P
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, sans serif;
}

INPUT
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, sans serif
}
SELECT
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, sans serif
}
TEXTAREA
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, sans serif
}
LI
{
    COLOR: #cc3300;
    LINE-HEIGHT: 1.5em;
    LIST-STYLE-TYPE: square;
    ALIGN: left;
    FONT-FAMILY: Arial, Helvetica, sans serif;
    FONT-SIZE: 9pt;
}
INPUT.button,
INPUT.buttonM
{
	WIDTH: auto;
	cursor: pointer;
        COLOR: #ffffff;
	BACKGROUND: #C88333;
	border: 1px solid #A16929;
	font-family: Verdana, Helvetica, Sans-Serif;
	font-size: 11px;
	padding: 1px;
	WIDTH: auto;	
}
.search
{
    BORDER-RIGHT: black 1px solid;
    PADDING-RIGHT: 5pt;
    BORDER-TOP: black 1px solid;
    PADDING-LEFT: 5pt;
    PADDING-BOTTOM: 5pt;
    BORDER-LEFT: black 1px solid;
    PADDING-TOP: 5pt;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: #e5e5e5
}
.shade
{
    COLOR: #333333;
    BACKGROUND-COLOR: #FFE4A2;
}

.blackshade
{
	 COLOR: #FFFFFF;
    BACKGROUND-COLOR: #C88333;
    FONT-WEIGHT: bold;

}
.blackshade:hover
{
    COLOR: #FFCC00;
}

.rowselected
{
    COLOR: #333333;
    BACKGROUND-COLOR: #DBEAF5;
}

.message
{
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;	
    COLOR: #cc3300;
    FONT-FAMILY: Arial, Helvetica, sans serif;
}
.SELECTS
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    BORDER-LEFT: gray 1px solid;
    BORDER-BOTTOM: gray 1px solid;
    COLOR: #333333;
	 width: 57;
    FONT-FAMILY: Arial, Helvetica, sans serif
}

h1
{  
    FONT-FAMILY: Arial, Helvetica, sans serif;
	 font-size: 13pt;
 }

.tableheader
{
    FONT-FAMILY: verdana, Arial;
	font-size: 13px;
    FONT-WEIGHT: bold;	
	BACKGROUND-COLOR: #C88333;
	COLOR: #FFFFFF;
	padding: 5px;
} 
.header2
{
	BACKGROUND-COLOR: #FBD87F;
	padding: 10px;	
}
.fieldname
{
    FONT-FAMILY: verdana, Arial;
	color: #000040;
	font-weight: bold;
	padding: 5px;
}
.xtop, .xbottom {display:block; background:transparent; font-size:1px;}
.xb1, .xb2, .xb3, .xb4 {display:block; overflow:hidden;background: #FFE4A2;}
.xb1, .xb2, .xb3 {height:1px;}
.xb2, .xb3, .xb4 {border-left:1px solid #A16929; border-right:1px solid #A16929;}
.xb1 {margin:0 5px; background:#A16929;}
.xb2 {margin:0 3px; border-width:0 2px;}
.xb3 {margin:0 2px;}
.xb4 {height:2px; margin:0 1px;}
.xboxcontent {display:block; border:0 solid #A16929; border-width:0 1px; padding: 4px; background: #FFE4A2;}

.suggest_link {
   background-color: #FFFFFF;
   padding: 2px 6px 2px 6px;
}
.suggest_link_over {
   background-color: #3366cc;
   color: #FFFFFF;
   padding: 2px 6px 2px 6px;
}
#search_suggest {
   position: absolute; 
   background-color: #FFFFFF; 
   text-align: left; 
   border: 1px solid #000000;		
   width: 205px;
   font-family: Verdana;
   font-size: 10px;
   visibility: hidden;
   /*z-index: 1000;*/
}		
#master_details {	
	font-family: Verdana, Arial, Helvetica, sans serif;
	font-size: 11px;
	position: absolute;
	background-color: #FCF7D1; 
	border: 1px solid #EACB6B; 
	padding: 10px; 
	/*width: 120px; */
	background-repeat: no-repeat;
	visibility: hidden;
	/*z-index:1001; */
}
.highlight {
	border: 2px solid #D32323;
	padding: 1px;
	/*background-color: #FCF7D1; */
}