<p>Master table: [article]</p>

<table border=0 width=100% CELLPADDING=3 CELLSPACING=1>
<!-- header -->
<tr class="blackshade" valign="top">
<td>Category</td>
<td>Title</td>
<td>Problem</td>
<td>Solution</td>
<td>Views</td>
<td>DateCreated</td>
</tr>
<!-- data -->
<tr class="shade">
<td>
{$showmaster_Category}
</td>
<td>
{$showmaster_Title}
</td>
<td>
{$showmaster_Problem}
</td>
<td>
{$showmaster_Solution}
</td>
<td>
{$showmaster_Views}
</td>
<td>
{$showmaster_DateCreated}
</td>
</tr>

</table>
