<!-- show master table info - start -->
<table><tr><td width=20>&nbsp;</td><td><p>Master table: [article]</p></td></tr></table>

<TABLE WIDTH=95% CELLPADDING=4 CELLSPACING=1 BORDER=0 align=center style="border: solid; border-width: 1px; border-color: #C0C0C0;">

<!-- header -->
<tr class="blackshade" valign="top">
<td>Category</td>
<td>Title</td>
<td>Problem</td>
<td>screenp</td>
<td>filep</td>
<td>screens</td>
<td>files</td>
<td>Views</td>
</tr>
<!-- data -->
<tr class="shade">
<td>
{$showmaster_Category}
</td>
<td>
{$showmaster_Title}
</td>
<td>
{$showmaster_Problem}
</td>
<td>
{$showmaster_screenp}
</td>
<td>
{$showmaster_filep}
</td>
<td>
{$showmaster_screens}
</td>
<td>
{$showmaster_files}
</td>
<td>
{$showmaster_Views}
</td>
</tr>
		
</table>
<!-- show master table info - end -->
