<html> 
<head>
<title>Change password</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
</head>

<body  text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#0066cc">
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="99%">
  <tr>
    <td valign="center" align="middle"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td  valign="top" align="right"> 
                  <table width="300" border="0" cellspacing="4" cellpadding="4" align="center">
                    <tr> 
                      <td>&nbsp;</td>
                    </tr>
                  </table>
                  <table width="300" border="0" cellspacing="1" cellpadding="4" align="center">
                    <tr> 
                      <td valign="top" class=shade>
                        <DIV align=center> 
                        <table width="200" border=0 align="center" class=shade>
                          <tbody>
                          <tr> 
                            <td colspan=2 align=middle> 
                              Password was changed<br>
							  <a href="{$backurl}">Back</a>
                            </td>
                          </tr>
                          </tbody> 
                        </table></DIV>
                      </td>
                    </tr>
                  </table>
                  </form>
                <p>&nbsp;</p></td>
              </tr>
            </table>
            
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
