<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="email">
	    <nobr>
	{build_edit_control field="email" value=$value_email mode="inline_edit" id=$id}
	    <font color="red">*</font>
	</nobr>
	</control>
	<control field="comment">
	    <nobr>
	{build_edit_control field="comment" value=$value_comment mode="inline_edit" id=$id}
	    <font color="red">*</font>
	</nobr>
	</control>
	<control field="access">
		{build_edit_control field="access" value=$value_access mode="inline_edit" id=$id}
		</control>
	<message status="{$status}">{$message}</message>
</edit_controls>