<html>
<head>
<title>Password reminder</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
</head>

<body  text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#0066cc">
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="99%">
  <tr>
    <td valign="center" align="middle"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td valign="top" align="right"> 
                  <table width="300" border="0" cellspacing="4" cellpadding="4" align="center">
                    <tr> 
                      <td>&nbsp;</td>
                    </tr>
                  </table>
                  <table width="300" border="0" cellspacing="1" cellpadding="4" align="center" >
                    <tr> 
                      <td align=middle class=blackshade>
							 <b><font size=+1>Password reminder</font></b></td>
                    </tr>
                    <tr> 
                      <td valign="top" class=shade>
                        <DIV align=center> 
                        <table width="200" border=0 align="center" class=shade>
                          <tbody>
								  <tr height=10><td>&nbsp;</td></tr>
						  <tr> 
                          <tr> 
                            <td colspan=2 align=middle> 
                              Login and password were sent to your email address.<br>
							  <a href="login.php?{$params}">Proceed to login page</a>
                            </td>
                          </tr>

                          </tbody> 
                        </table></DIV>
                      </td>
                    </tr>
                  </table>
                <p>&nbsp;</p></td>
              </tr>
            </table>
            
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
